body {
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1{
  text-align: center;
}
.image{
  align-items: center;
  position: relative;
  left: 400px;
}
.nav{
  text-align: center;
}
figcaption{
  text-align: center;
  font-size: small;
}
p{
  text-align: center;
  width: 800px;
  position: relative;
  left: 500px;
}
.details{
  background-color: red;
  text-align: center;
  width: 25%;
}
h3{
  background-color: red;
  text-align: center;
  width: 25%;
}